{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.css" media="screen,projection"/>
    <link rel='stylesheet' type='text/css' href="{% static 'default.css' %}" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Reminder - MZ</title>
    <style>

    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo" style="padding-left: 1rem">Reminder</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li><a href="{% url 'event:event-create' %}">Add event</a></li>
                <li><a href="{% url 'event:event-list' %}">List events</a></li>
                <li><a href="{% url 'user:account' %}">My account</a></li>
                <li style="padding-right: 2rem"><a href="{% url 'user:logout' %}?next=/">Logout</a></li>
            {% else %}
                <li style="padding-right: 2rem"><a href="{% url 'user:login' %}">Login</a></li>
            {% endif %}

        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/static/materialize/js/materialize.js"></script>
</body>
</html>