{% extends "base.html" %}

{% block content %}

    <div style="text-align:center; padding-left: 35%; padding-right: 35%; padding-top: 5%">
        <form method="post" action="{% url 'user:register' %}">
            {% csrf_token %}
            {{ form.as_table }}
            <button class="btn waves-effect waves-light" type="submit" name="action">Register
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>


{% endblock %}