{% extends "base.html" %}
{% block content %}
    <div style="padding: 3% 10% 1%;">
        <table class="responsive-table">
            <thead>
            <tr>
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Date</th>
                <th style="text-align:center">Place</th>
                <th style="text-align:center">Description</th>
                <th style="text-align:center">Annually</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td style="text-align:center; ">
                        <a class="link-decorator" href="{% url 'event:event-details' object.pk %}">
                            {{ object.name }}
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a class="link-decorator" href="{% url 'event:event-details' object.pk %}">
                            {{ object.event_date }}
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a class="link-decorator" href="{% url 'event:event-details' object.pk %}">
                            {{ object.place }}
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a class="link-decorator" href="{% url 'event:event-details' object.pk %}">
                            {{ object.description }}
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a class="link-decorator" href="{% url 'event:event-details' object.pk %}">
                            {{ object.annually }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination" style="padding: 1% 10% 5%;">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a class="waves-effect" href="?page=1"><i class="material-icons">chevron_left</i>
                    <i class="material-icons">chevron_left</i></a></li>
                <li><a class="waves-effect" href="?page={{ page_obj.previous_page_number }}"><i
                        class="material-icons">chevron_left</i></a></li>
                {% if page_obj.number > 2 %}
                    <li class="waves-effect"><a
                            href="?page={{ page_obj.previous_page_number|add:"-1" }}">{{ page_obj.previous_page_number|add:"-1" }}</a></li>
                {% endif %}
                <li class="waves-effect"><a
                        href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
                <li class="waves-effect"><a
                        href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                {% if page_obj.next_page_number|add:"1" <= page_obj.paginator.num_pages %}
                    <li class="waves-effect"><a
                            href="?page={{ page_obj.next_page_number|add:"1" }}">{{ page_obj.next_page_number|add:"1" }}</a></li>
                {% endif %}
                <li><a class="waves-effect" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a>
                </li>
                <li><a class="waves-effect" href="?page={{ page_obj.paginator.num_pages }}"><i class="material-icons">chevron_right</i><i
                        class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    </div>

{% endblock %}

